.home-page {

  .p2-home {
    animation: fadeInDown 1s 5s;
    animation-fill-mode: both;
  }

  h1 {
    color: #fff;  

    img {
      margin-left: 10px;
      width: 44px;
      opacity: 0;
      height: auto;
      animation: rotateIn 1s 2s linear both;
    }
  }

  h2 {
    color: #8d8d8d;
    margin-top: 15px;
    font-weight: 400;
    font-size: 11px;
    font-family: sans-serif;
    letter-spacing: 3px;
    animation: fadeIn 1s 1.8s backwards;
  }

}

//smaller screen
@media only screen and (max-width: 480px) {
  .home-page {
    h1 {
      line-height: 40px;
    }
  }
}

